<h1>Employee FirstName: <%= @employee.first_name %></h1><br>
<h1>Employee LastName: <%= @employee.last_name %></h1><br>
<h1>Employee Alias: <%= @employee.alias %></h1><br>
<h1>Employee Title: <%= @employee.title %></h1><br>
<h1>Employee Office: <%= @employee.office %></h1><br>
<h1>Employee Dog: <%= @employee.dog.name %></h1><br>
<%= image_tag @employee.img_url %>





